{% extends "base.html.twig" %}
{% block title %}Login
{% endblock %}
{% block body %}
	{% for mensaje in app.flashes('mensaje') %}
		<div style="color: green;">
			{{ mensaje }}
		</div>
	{% endfor %}

	<h1>Tu Perfil</h1>
	<img src="{{ asset('img/' ~ app.user.fotoPerfil) }}" alt="foto" width="150">
	{% if app.user %}
		<p>Bienvenido,
			{{ app.user.nombreUsuario }}!</p>
		<p>Email:
			{{ app.user.email }}</p>
		<p>Seguidores:
			{{ numSeguidores }}</p>
		<p>Siguiendo:
			{{ numSeguidos }}</p>
		<ul>
			{% if app.user.fechaNacimiento %}
				<li>Fecha de nacimiento:
					{{ app.user.fechaNacimiento|date('d-m-Y') }}</li>
			{% endif %}

			{% if app.user.ciudad %}
				<li>Ciudad:
					{{ app.user.ciudad }}</li>
			{% endif %}

			{% if app.user.biografia %}
				<li>Biografía:
					{{ app.user.biografia }}</li>
			{% endif %}
		</ul>
		<h2>Tus publicaciones:</h2>
		{% for post in posts %}
			<div>
				<p>{{ post.texto }}</p>
				<p>Publicado el
					{{ post.fechaPublicacion|date('d/m/Y H:i') }}</p>
				<p>Comentarios:
					{{ numComentarios[post.id] }}</p>
			</div>
		{% else %}
			<p>No has publicado nada aún.</p>
		{% endfor %}
		<a href="{{ path('ctrl_quierescambiarcontraseñalogueado') }}" style="color: grey;">¿Quieres cambiar tu contraseña?</a>
		<br><br>
		<a href="{{ path('ctrl_cerrarcuenta') }}" style="color: red;">Elimina tu cuenta aquí</a>
		<br>
	{% else %}
		<p>No estás logueado.</p>
	{% endif %}
{% endblock %}
