{% extends "base.html.twig" %}
{% block title %}Registro{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registro.css') }}">
{% endblock %}
{% block body %}
    {% for mensaje in app.flashes('error') %}
        <div class="flash-error flash-alert" role="alert">
            {{ mensaje }}
        </div>
    {% endfor %}

    {% for mensaje in app.flashes('mensaje') %}
        <div class="flash-mensaje flash-alert" role="alert">
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1>Registro de nuevo usuario</h1>

    <form action="{{ path('ctrl_procesar_registro') }}" method="post">

        <input type="text" id="username" name="username" value="" placeholder="Nombre de usuario"/>
        <br>

        <input type="email" id="email" name="email" value="" placeholder="Correo electrónico"/>
        <br>

        <input type="password" id="password" name="password" placeholder="Clave"/>
        <br>

        <input type="password" id="password2" name="password2" placeholder="Repite la clave que pusiste arriba"/>
        <br>

        <button type="submit">Registrar</button>
    </form>
    <br>
    <a href="{{ path('ctrl_login') }}">¿Ya tienes cuenta? Inicia sesión</a>
{% endblock %}